@tailwind base;
@tailwind components;
@tailwind utilities;

.Metrophobic {
  font-family: 'Metrophobic', sans-serif;
}
.Kanit {
  font-family: 'Kanit', sans-serif;
}
.pie-chart-container canvas {
  margin: 0 !important;
}
